body{
  background-color:gray;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.startButton{
  text-align: center;
}

#title{
  color:white;
  text-align: center;
  border: 5px solid #7f1734;
  border-radius: 50px;
  background-color:orange;
  margin-top: 100px;
  text-shadow: 2px 2px 3px #000;
}

/* .button{
  margin-top: 300px;
  color: white;
  width:150px;
  font-size: 18px;
  height: 30px;
  background-color:#4CAF50;
} */

img {
width: 10%;
border-radius: 50px;
margin-top: 20px;
cursor: pointer;

}
